<!doctype html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8"/>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/c/css/bootstrap.3.3.6.min.css"/>
		<!-- Optional theme -->
		<link rel="stylesheet" href="/c/css/bootstrap-theme.3.3.6.min.css"/>
		<link rel="stylesheet" href="/c/css/bootstrap-sortable.css"/>
		<link rel="stylesheet" href="/c/css/main.css"/>

		<link rel="shortcut icon" href="/c/favicon.ico" type="image/x-icon">

		<script type="text/javascript" src="/c/js/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="/c/js/bootstrap-sortable.js"></script>
		<script type="text/javascript">
		function templateUpdate() {
			$.get('/update-templates', function (r) { console.log('Templates updated'); });
		}
		</script>
	{% block head %}{% endblock %}
	</head>
	<body>
		<div class="header">
<div class="header-nav">
{% if session_user %}
<!-- common panel -->
<a href="/u/{{ session_user.login }}/dashboard" class="label label-success">my dashboard</a>
<span class="label">{{ session_user.fullname }} ({{ session_user.login }}), {{ session_user.student_id }}</span>
<a href="/logout" class="label label-success">logout</a>

<!-- admin options -->
{% if session_user.isRoot() %}
	| <span class="label">
		<a href="/all-contests">Contests</a>
	</span>
	| <span class="label">
		<a href="/all-problems">Problems</a>
	</span>
	| <span class="label">
		<a href="/all-groups">Groups</a>
	</span>
	| <span class="label">
		<a href="/edit-users/">Users</a>
	</span>
	| <span class="label">
		<a href="/shutdown" onclick="return confirm('Are you sure you want to shutdown sever?')">Shutdown</a>
	</span>
{% endif %}

{% else %}
<span class="label">Please log in</span>
{% endif %}
</div>
		</div>
		<!-- update templates -->
		<!--div style="position:fixed;top:0;right:0;border:1px solid red;z-index:10001">
			<a onclick="templateUpdate();return false"
			   style="font-size: x-small;color:white">Update templates</a>
		</div-->
		<!-- logo -->
		<div style="position:fixed;top:0;right:0;z-index:10001;color:white">
			<span style="font-size:x-large;margin:10px 30px 10px 10px;font-family: Consolas, 'Courier New', Courier"><b>code</b>.<i>test</i>()</span>
		</div>
		{% block body %}{% endblock %}
	</body>
</html>
