<div>
Add 2 integer numbers writter in <code>test.txt</code> file. They are situated in one line separated by space.  Write result to <code>test.out</code>.
<br/><h3>Example</h3>
<hr/>
<tt>text.txt</tt>
<code><pre>
12 13
</pre></code>
<hr/>
<tt>text.out</tt>
<code><pre>
25
</pre></code>
</div>